/* 전체 스타일 초기화 */
body, html {
  padding: 0;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
}

.App {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 50px;
}
.header {
  position: fixed; /* 상단 고정 */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 양쪽 끝에 배치 */
  z-index: 1000;
  border-bottom: 2px solid #03cf5d;
}
.header-left {
  flex: 1;
}
.lmusic {
  width: 200px;
  height: 100px;
}
.header-content {
  text-align: center; /* 텍스트 중앙 정렬 */
  flex-grow: 3; /* 중앙 요소가 여유 공간을 차지하게끔 */
  margin: 0 auto; /* 가운데 정렬 */
}

.header-right {
  text-align: center;
  flex: 1; /* 오른쪽 정보 공간 차지 */
}
#user-info {
  display: inline-block;
}
/* 모달 스타일링 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.content {
  margin-top: 120px; /* 헤더 높이만큼 여백 추가 */
  padding: 20px;
}
.today-food {
  width: 100%;
  /* height: 300px; */
  background-color: #f8f9fa;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  border: 2px solid #01883b;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
a:link {color: black; text-decoration: none; font-weight: bold;}
a:visited {color: black; text-decoration: none; font-weight: bold;}

.community-ranking {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.community {
  width: 60%; /* 커뮤니티가 혼자 한 줄 차지 */
  height: 300px;
  background-color: #f8f9fa;
  display: block;
  /* align-items: center;
  justify-content: center; */
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px; /* 아래 요소와 간격 */
  border: 2px solid #03cf5d;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.ranking {
  width: 40%; /* 랭킹도 한 줄 차지 */
  height: 300px;
  background-color: #f8f9fa;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 20px; /* 아래 요소와 간격 */
  border: 2px solid #03cf5d;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.games {
  display: flex; /* 가로로 정렬 */
  gap: 20px; /* 게임 간 간격 추가 */
  margin-bottom: 20px;

}

.game {
  flex: 1; /* 각 게임이 동일한 너비로 나뉘어 표시 */
  height: 300px;  
  background-color: #f8f9fa;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: 2px solid #02aa4b;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 10px 0;
}

.keypad button {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: black;
}

.keypad button:hover {
  background-color: #e0e0e0;
}

input[readonly] {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

button {
  display: inline-block;
  background-color: #03cf5d;
  color: white;
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}